@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.footer-icon {
  @apply p-2 rounded-full bg-gray-200 dark:bg-gray-800 
         text-gray-700 dark:text-gray-300 
         hover:bg-blue-600 dark:hover:bg-blue-500 
         hover:text-white transition-all;
}
